<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a class="logo"><img class="logo"src="assets/images/gdelogo1.png" alt=""></a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a mat-button >{{schoolDetails.institutionName}}</a></li>
          <li><a mat-button (click)="cancelSurvey()">Home</a></li>
        </ul>
        <!-- <i class="bi bi-list mobile-nav-toggle"  (click)="toggleMobileNav($event)"></i> -->
      </nav><!-- .navbar -->

    </div>
  </header>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="container">

    

        <div mat-dialog-content class="content">
            <input id="duration" value="2000" type="hidden" min="0" step="100" #duration>
          
            <mat-stepper linear #stepper>
                
                <form [formGroup]="schoolDetailsForm">
        
                
                <mat-step  >
                    <div class="title-log">
                        <p style="text-align: center;"><strong>INSTRUCTIONS: </strong></p>

                        <ol>
                            <li>Please ensure that the School General Details requested below are captured correctly.</li>
                            <li>You will require either an ID or Passport Number to complete this section. Please select the relevant option and insert the appropriate details.</li>
                            <li>If the school is using any other electronic management system apart from SASAMS, this must be specified.</li>
                            <li>All fields that have an Asterisk(*) are compulsory.</li>

                        </ol>
                          
                        
                    </div>
                    <ng-template matStepLabel>School General Details</ng-template>
                    <br>
                <div class="row" >
                    <mat-form-field   appearance="outline">
                        <mat-label>Emis Number</mat-label>
                        <input matInput placeholder="" type="text" formControlName="emisNo" autocomplete="off" readonly>
                    </mat-form-field>
    
                    <mat-form-field   appearance="outline">
                        <mat-label>District</mat-label>
                        <input matInput placeholder="" type="text" formControlName="districtName" autocomplete="off" readonly>
                    </mat-form-field>
                </div>
                <div class="row" >
                    <mat-form-field   appearance="outline">
                        <mat-label>Institution Name
                        </mat-label>
                        <input matInput placeholder="" type="text" formControlName="institutionName" autocomplete="off" readonly>
                    </mat-form-field>

                    
    
                </div>
                <div class="row">

                    <mat-form-field   appearance="outline">
                        <mat-label>Principal Name/s (In Full)</mat-label>
                        <input matInput placeholder="" type="text" formControlName="principalName" autocomplete="off" required>
                        <mat-error *ngIf="schoolDetailsForm.get('principalName').hasError('required')">This field is required.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalName').hasError('pattern')">Principal Name must contain only alphabetic characters.</mat-error>
                    </mat-form-field>

                    <mat-form-field   appearance="outline">
                        <mat-label>Principal Surname</mat-label>
                        <input matInput placeholder="" type="text" formControlName="principalSurname" autocomplete="off" required>
                        <mat-error *ngIf="schoolDetailsForm.get('principalSurname').hasError('required')">This field is required.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalSurname').hasError('pattern')">Principal Surname must contain only alphabetic characters.</mat-error>
                    </mat-form-field>
                   
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <select matNativeControl formControlName="title"  required>
                            <option value="Mr">Mr.</option>
                            <option value="Mrs">Mrs.</option>     
                            <option value="Ms">Ms.</option>  
                            <option value="Ms">Miss.</option>
                            <option value="Dr">Dr.</option>                  
                            </select>
                    </mat-form-field>

                    <mat-form-field   appearance="outline" *ngIf="sectorTypeId == 1" >
                        <mat-label>Persal Number</mat-label>
                        <input matInput placeholder="" type="text" formControlName="principalPersal" autocomplete="off" required>
                        <mat-error *ngIf="schoolDetailsForm.get('principalPersal').hasError('pattern')">Persal Number must contain only Numeric characters.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalPersal').hasError('maxlength')">Persal Number must contain only 8 numbers</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalPersal').hasError('minlength')">Persal Number must contain only 8 numbers</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Principal Email Address (Optional)</mat-label>
                        <input matInput placeholder=" " type="text" formControlName="officialPrincipalEmail" autocomplete="off">
                        <mat-error *ngIf="schoolDetailsForm.get('officialPrincipalEmail').hasError('email')">Invalid email format.</mat-error>
    
                    </mat-form-field>
                </div>
                <div class="row" >
                    <mat-form-field appearance="outline">
                        <mat-label>Principal Cell Number</mat-label>
                        <input matInput placeholder="" type="text" formControlName="principalCellPhone" autocomplete="off" required>
                        <mat-error *ngIf="schoolDetailsForm.get('principalCellPhone').hasError('required')">This field is required.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalCellPhone').hasError('pattern')">Principal Cell Number must contain only Numeric characters.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalCellPhone').hasError('maxlength')">Principal Cell Number must contain only 10 numbers</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalCellPhone').hasError('minlength')">Principal Cell Number must contain only 10 numbers</mat-error>
    
                    </mat-form-field>
    
                    <mat-form-field   appearance="outline">
                        <mat-label>Secondary Cell Number (Optional)</mat-label>
                        <input matInput placeholder="" type="text" formControlName="alternativeCellNo" autocomplete="off">
                        <mat-error *ngIf="schoolDetailsForm.get('alternativeCellNo').hasError('pattern')">Secondary Cell Number must contain only Numeric characters.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('alternativeCellNo').hasError('maxlength')">Secondary Cell Number must contain only 10 numbers</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('alternativeCellNo').hasError('minlength')">Secondary Cell Number must contain only 10 numbers</mat-error>
    
    
                    </mat-form-field>
                </div>
    
                <div class="row" >
                    <mat-form-field   appearance="outline">
                        <mat-label>School Telephone Number</mat-label>
                        <input matInput placeholder="" type="text" formControlName="schoolTelephone" autocomplete="off" required>
                        <mat-error *ngIf="schoolDetailsForm.get('schoolTelephone').hasError('required')">This field is required.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('schoolTelephone').hasError('pattern')">School Telephone Number must contain only Numeric characters.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('schoolTelephone').hasError('maxlength')">School Telephone Number must contain only 10 numbers</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('schoolTelephone').hasError('minlength')">School Telephone Number must contain only 10 numbers</mat-error>
    
                    </mat-form-field>
                    
                <mat-form-field appearance="outline">
                    <mat-label>ID Number or Passport</mat-label>
                    <select matNativeControl formControlName="usingIDAndPassport" [(ngModel)]="idOrPass" name="idOrPass" required>
                        <option value="1">ID</option>
                        <option value="2">Passport</option>                   
                        </select>
                </mat-form-field>
                </div>
                <div class="row" >
                    <mat-form-field appearance="outline" *ngIf="schoolDetailsForm.get('usingIDAndPassport').value === '1'">
                        <mat-label>ID Number</mat-label>
                        <input matInput placeholder="" type="text" formControlName="principalIDNo" autocomplete="off" required>
                        <mat-error *ngIf="schoolDetailsForm.get('principalIDNo').hasError('required')">This field is required.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalIDNo').hasError('pattern')">ID Number must contain only numeric characters.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalIDNo').hasError('maxlength')">ID Number must contain only 13 numbers</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('principalIDNo').hasError('minlength')">ID Number must contain only 13 numbers</mat-error>
    
                      </mat-form-field>
                      <mat-form-field appearance="outline" *ngIf="schoolDetailsForm.get('usingIDAndPassport').value === '2'">
                        <mat-label>Passport</mat-label>
                        <input matInput placeholder="" type="text" formControlName="passportID" autocomplete="off" [disabled]="false">
                        <mat-error *ngIf="schoolDetailsForm.get('passportID').hasError('required')">This field is required.</mat-error>
                      </mat-form-field>
                </div>
              
                <div class="row">
                 
                    <mat-form-field appearance="outline">
                        <mat-label>School Official Email Address</mat-label>
                        <input matInput placeholder=" " type="text" formControlName="schoolEmailAddress" autocomplete="off">
                        <mat-error *ngIf="schoolDetailsForm.get('schoolEmailAddress').hasError('required')">This field is required.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('schoolEmailAddress').hasError('email')">Invalid email format.</mat-error>
    
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>School Secondary Email Address</mat-label>
                        <input matInput placeholder=" " type="text" formControlName="schoolAlternativeEmailAddress" autocomplete="off" required>
                        <mat-error *ngIf="schoolDetailsForm.get('schoolAlternativeEmailAddress').hasError('required')">This field is required.</mat-error>
                        <mat-error *ngIf="schoolDetailsForm.get('schoolAlternativeEmailAddress').hasError('email')">Invalid email format.</mat-error>
                       
                    </mat-form-field>
                    <span style="color: red;" *ngIf="schoolDetailsForm.errors?.['emailMatchError']">School secondary email address cannot be the same as the School official email address </span>
                    <!-- <mat-label>Are you a School of Specialisation</mat-label>
                    <mat-checkbox formControlName="specialisationSchool"></mat-checkbox> -->
               
                </div>

                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Electronic School Administration System(s) Being Used</mat-label>
                        <select matNativeControl formControlName="systemBeingUsed" [(ngModel)]="sasamsOther" name="sasamsOther" required>
                            <option value="1">SASAMS Only</option>
                            <option value="2">SASAMS and Other Systems </option>  
                            <option value="3">Other Systems Only</option>                  
                            </select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" *ngIf="sasamsOther=='2'" >
                            <mat-label>Electronic School Administration System(s) Being Used</mat-label>
                            <select matNativeControl formControlName="schoolAdminManagementSystemID" [(ngModel)]="otherSystem" name="otherSystem" required>
                                              <option *ngFor ="let system of systems" [value]="system.id">{{system.systemName}}</option>       
                                </select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="sasamsOther=='3'">
                                <mat-label>Other Electronic School Administration System</mat-label>
                                <input matInput placeholder="Please Specify" type="text" formControlName="otherSchoolAdminSystem" autocomplete="off" required>
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="otherSystem==19">
                                <mat-label>Other Electronic School Administration System</mat-label>
                                <input matInput placeholder="Please Specify" type="text" formControlName="otherSchoolAdminSystem" autocomplete="off" required>
                            </mat-form-field>
                            <div *ngIf="sasamsOther=='1'">
                              
                                <input  placeholder="Please Specify" type="hidden" formControlName="schoolAdminManagementSystemID" [(ngModel)]="sams" name="sams" autocomplete="off">
                            </div>
                            <div *ngIf="sasamsOther=='3'">
                              
                                <input  placeholder="Please Specify" type="hidden" formControlName="schoolAdminManagementSystemID" [(ngModel)]="numberSelect" name="numberSelect" autocomplete="off">
                            </div>
                            
                </div>
                <div>
                    <button mat-button matStepperNext style="background-color: #004b98; color: white;">Next</button>
                  </div>
                  
                </mat-step>
                <mat-step >
                    <div class="title-log" >
                        <p style="text-align: center;"><strong>INSTRUCTIONS: </strong></p>
                        <ol>
                            <li>Please ensure that you select ALL the grades that are offered at the school.</li>
                            <li>At least one Grade must be selected.</li>
                        </ol>
                    
                    </div>
                    <ng-template matStepLabel>Select all Grades applicable to the school</ng-template>
                    <br>
                    <div  style="color: red;" *ngIf="schoolDetailsForm.hasError('atLeastOneCheckboxChecked')">
                        At least one Grade must be selected.
                      </div>
                      
                      <div style="float: left; width: 50%;">
                    
                    <mat-checkbox formControlName="preGradeR"> Pre-Grade R</mat-checkbox>
                    <br>
                    <mat-checkbox formControlName="gradeR">Grade R</mat-checkbox>
                    <br>

                    <mat-checkbox formControlName="grade1">Grade 1</mat-checkbox>
                    <br>

                    <mat-checkbox formControlName="grade2">Grade 2</mat-checkbox>
                    <br>

    
                    <mat-checkbox formControlName="grade3">Grade 3</mat-checkbox>
                    <br>

                    <mat-checkbox formControlName="grade4">Grade 4</mat-checkbox>
                    <br>

                    <mat-checkbox formControlName="grade5">Grade 5</mat-checkbox>
                    <br>

                    <mat-checkbox formControlName="grade6">Grade 6</mat-checkbox>
                    <br>

                    <mat-checkbox formControlName="grade7">Grade 7</mat-checkbox>
                    <br>
                </div>
                <div style="float: left; width: 50%;">
                
                    <mat-checkbox formControlName="grade8">Grade 8</mat-checkbox>
    <br>
                    <mat-checkbox formControlName="grade9">Grade 9</mat-checkbox>
                    <br>
                    <mat-checkbox formControlName="grade10">Grade 10</mat-checkbox>
                    <br>
                    <mat-checkbox formControlName="grade11">Grade 11</mat-checkbox>
                    <br>
                    <mat-checkbox formControlName="grade12">Grade 12</mat-checkbox>
                    <br>
                    <mat-checkbox formControlName="gradeSpecial">Grade Special</mat-checkbox>
                    <br>
                    <mat-checkbox formControlName="gradeOther">Grade Other</mat-checkbox>
                </div>
                <br>
                <br>
                <br>
    
                    <div>
                        <button mat-button matStepperPrevious style="background-color: #981700; color: white;">Back</button> &nbsp;
                        <button mat-button (click)="onSubmit(this.schoolDetailsForm.value)" style="background-color: #004b98; color: white;">Save & Continue</button>
                      </div>
                </mat-step>
            </form>
        </mat-stepper>
             
        
        </div>
    



</div>








 
    
    
   

