mat-icon{
    color: #004b98;
    
  }
  mat-icon:hover{
    color: #980000;
      }
      mat-form-field{
        width: 20%;
      
    }

.title-log{
        background-color: #ad9961;
        color: #fff;
}

.mat-dialog-content {
   
    justify-content: center;
    margin-left: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
  }